<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Add site</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="./imgs/favicon.png"/>
  </head>
  <body>
    <header>
      <nav>
        <a href="/login" id="js-login-logout">Login</a>
      </nav>
      <h1>
        Site Review
      </h1>
    </header>
    <main>
      <div class="formContainer">
        <form class="js-login" id="addSite">
          <fieldset>
            Site Name:<br>
            <input type="text" id="siteName" class="js-site-name"><br>
            Site Description:<br>
            <input type="text" id="siteDescription" class="js-site-description"><br>
          </fieldset>
          <input type="submit" value="sign up"><br>
          <!-- <a href="/login">already a user? Login</a> -->
        </form>
      </div>
    </main>
    <script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="js/index.js"></script>
  </body>
</html>
