<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Login to Web Site Review</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="#">Login</a>
      </nav>
      <h1>
        Site Review
      </h1>
    </header>
    <main>
      <div class="formContainer">
      <a href="https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage">Review Window local storage as a possible solution to your problem.</a>
        <form class="js-login" id="login">
          <fieldset>
            Username:<br>
            <input type="text" id="userName" class="js-user-name"><br>
            Password:<br>
            <input type="password" id="password" class="js-password"><br>
          </fieldset>
          <input type="submit" value="sign up"><br>
          <a href="/">Not a user? Sign up!</a>
        </form>
      </div>
    </main>
    <script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="js/index.js"></script>
  </body>
</html>
