<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Web Site Review sign up</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/login" id="js-login-logout">Login</a>
      </nav>
      <h1>
        Web Site Reviews
      </h1>
    </header>
    <main>
      <div class="formContainer">
        <form class="js-submit" id="signup">
          <fieldset>
            First Name:<br>
            <input type="text" id="firstName" class="js-first-name"><br>
            Last Name:<br>
            <input type="text" id="lastName" class="js-last-name"><br>
            Username:<br>
            <input type="text" id="userName" class="js-user-name"><br>
            Password:<br>
            <input type="password" id="password" class="js-password"><br>
            Repeat Password:<br>
            <input type="password" id="repeat-password" class="js-repeat-password"><br>
          </fieldset>
          <input type="submit" value="sign up"><br>
          <a href="/login">already a user? Login</a>
        </form>
      </div>
    </main>
    <script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="js/index.js"></script>
  </body>
</html>
