<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Web Site Review sign up</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link href="https://fonts.googleapis.com/css?family=Acme|Bowlby+One+SC" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="./imgs/favicon.png"/>
  </head>
  <body role='document'>
    <header role='banner'>
      <nav role='navigation'>
        <a href="/login" id="js-login-logout" role='link'>Login</a>
      </nav>
      <a href='./' id='headerLink'>
        <h1>
          Web Site Reviews
        </h1>
        <h3>
          Your place to review, or find reviews on sites!
        </h3>
      </a>
    </header>
    <div class="buffer"></div>
    <main role='main' aria-live='assertive'>
      <section role='sign up with Web Site Review!'>
        <div class="formContainer">
          <form class="js-submit" id="signup">
            <fieldset>
              <legend>Sign up</legend>
              <label for='firstName'>First Name:</label>
              <input type="text" id="firstName" class="js-first-name"><br>
              <label for='lastName'>Last Name:</label>
              <input type="text" id="lastName" class="js-last-name"><br>
              <label for='userName'>Username:</label>
              <input type="text" id="userName" class="js-user-name"><br>
              <label for='password'>Password:</label>
              <input type="password" id="password" class="js-password"><br>
              <label for='repeat-password'>Repeat Password:</label>
              <input type="password" id="repeat-password" class="js-repeat-password"><br>
            </fieldset>
            <input type="submit" value="sign up" role='button' class="submitButton"><br>
            <a href="/login" role='link'>already a user? Login</a>
          </form>
        </div>
        <div class="buffer"></div>
        <div id="dialog-validation-err-firstname" title="First name error">Please enter your first name.</div>
        <div id="dialog-validation-err-lastname" title="last name error">Please enter your last name.</div>
        <div id="dialog-validation-err-username" title="FirstName error">Please enter your username.</div>
        <div id="dialog-validation-err-password" title="FirstName error">Please enter your password.</div>
        <div id="dialog-invalid-firstname" title="Invalid first name">Your first name must contain a character</div>
        <div id="dialog-invalid-lastname" title="Invalid last name">Your last name must contain a character</div>
        <div id="dialog-invalid-username" title="Invalid username">Your  username must contain a character</div>
        <div id="dialog-username-taken" title="Username taken">We're sorry, but it appears that username has already been taken</div>
        <div id="dialog-invalid-password" title="Invalid password">Your password must contain between 10 to 72 characters, or a combination of characters and numbers between that range.</div>
        <div id="dialog-password-err" title="Password mismatch">password fields do not match</div>
      </section>
    </main>
    <script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <script src="js/index.js"></script>
  </body>
</html>
