<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<div>
			<div class="js-results">
				
			</div>
				<button>Show results</button>
		</div>
		<script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="js/test.js"></script>
	</body>
</html>