<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Web Site Reviews Home Page</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body role='document'>
    <header role='banner'>
      <nav role='navigation'>
        <a href="/login" id="js-login-logout" role='link'>Login</a>
      </nav>
      <h1>
        Welcome to Web Site Reviews
      </h1>
    </header>
    <div id="buffer"></div>
    <main role='main' aria-live='assertive'>
      <section aria-label='sign up link'>
        <div class="formContainer">
          <a href="/signup" role='link'>Want to add a site? Sign up!</a>
        </div>
      </section>
      <section aria-label='search for a site'>
        <div class="formContainer welcomePage" id="welcome">
          <form class="js-submit" id="search">
            <fieldset>
              <legend>Search for a site</legend>
              <label for='searchbox'>Search for a Site</label>
              <input type="text" id="searchbox" class="js-search-box"><br>
            </fieldset>
            <input type="submit" value="Search for site" role='button'><br>
          </form>
        </div>
      </section>
      <section aria-label='see sites added to Web Site Review'>
        <div class="formContainer result-container">
          <button class="js-results-button" role='button'>Show results</button>
          <div class="results js-results">
          </div>
        </div>
      </section>
    </main>
    <script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="js/index.js"></script>
  </body>
</html>