<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Web Site Reviews Home Page</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link href="https://fonts.googleapis.com/css?family=Acme|Bowlby+One+SC" rel="stylesheet">
  </head>
  <body role='document'>
    <header role='banner'>
      <nav role='navigation'>
        <a href="/login" id="js-login-logout" role='link'>Login</a>
      </nav>
      <h1>
        Web Site Reviews
      </h1>
      <h3>
        Your place to review, or find reviews on sites!
      </h3>
    </header>
    <div class="buffer"></div>
    <main role='main' aria-live='assertive'>
      <section aria-label='sign up link'>
        <div class="formContainer">
          <a href="/signup" role='link'>Want to review a site? Sign up!</a>
        </div>
      </section>
      <section aria-label='search for a site'>
        <div class="formContainer welcomePage" id="welcome">
          <form class="js-submit" id="search">
            <fieldset>
              <label for='searchbox'>Search our Community Reviewed Sites!</label>
              <input type="text" id="searchbox" class="js-search-box"><br>
            </fieldset>
            <input type="submit" value="check if its reviewed!" role='button' class="submitButton"><br>
          </form>
        </div>
      </section>
      <section aria-label='see sites added to Web Site Review'>
        <div class="formContainer result-container">
          <button class="js-results-button submitButton" role='button'>Click here to see a list of reviewed sites!</button>
          <span class="results js-results">
          </span>
        </div>
        <div class="buffer"></div>
        <div id="dialog-404" title="Site not found!">Please sign in and add your own review of this site!</div>
        <div id="dialog-404-bad" title="bad url">Please add a complete url with a tld(top level domain) such as .com,.org,etc.</div>
        <div id="dialog-no-val" title="no site provided">Please search for a valid url</div>
        <dir id="dialog-login" title="Log in to Vote">You're not logged in! Login in or sign up for web site review!</dir>
      </section>
    </main>
    <script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <script src="js/index.js"></script>
  </body>
</html>