* {
  box-sizing: border-box;
}

body {
  /*following margin 0 rule makes it expand across screen */
  font-family:'Montserrat',sans-serif;
  background-color: #a0a0af;
  margin: 0;
  background-image: url("website-review-background.jpg");
}

/*buffer and header are use to utilize a fixed position, and to pad the divs below which may overlap*/
header {
  padding: 0 15px 0 15px;
  font-family: 'Acme', sans-serif;
  color: #fff;
  width: 100%;
  background-color: #8989b7;
  text-align: center;
  box-shadow:0 0 40px -10px #000;
  position: fixed;
}

#headerLink {
  color: #fff;
  text-align: center;
}

#headerLink:hover {
  color: #e6e6e6;
  text-decoration: underline;
}

.buffer{
  padding: 100px;
  maring-bottom: 100px;
}

fieldset {
  border: 0;
}

.formContainer{
    width:50%;
    background:#e6e6e6;
    border-radius:5px;
    box-shadow:0 0 40px -10px #000;
    margin:calc(50vh - 220px) auto;
    margin-top: -10px;
    margin-bottom: 20px;
    padding:20px 30px;max-width:calc(100vw - 40px);
  }

h1 {
  margin-top: -15px;
}

h2{
  width:100%;
  color:#78788c;
  border-bottom:3px solid #78788c
}

a {
  margin-top: 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  display:block;
  text-align: right;
}

a:hover {
  color: dodgerblue;
}

h2 > a {
  text-align: left;
}

div > a{
  text-align: center;
}


h3 {
  margin-top: -15px;
  margin-bottom: 2px;
}



input, button{
  width:100%;
  padding:10px;
  box-sizing:border-box;
  /*outline:none;*/
  resize:none;
  box-shadow:0 0 40px -10px #000;
  font-family:'Montserrat',sans-serif;transition:all .3s;
  border-bottom:2px solid #bebed2
}

input:focus, button:focus{
  border-bottom:2px solid #78788c
}

input:hover,button:hover{
  border-radius:15px;
}

.submitButton {
  font-size: 18px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%
}

.results{
  box-shadow:0 0 40px -10px #000;
  border-radius:5px;
  padding: 5px;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

.author{
  display: none;
}

legend {
  padding-top: 10px;
  font-weight: bold;
  display: hidden;
}

.description{
  font-style: italic;
}

ul {
  list-style-type: none;
}

label {
  font-weight: bold;
}

.describe {
  font-size: 20px;
  font-family: 'Acme', sans-serif;
  color: #579181;
}

.score {
  width: 100%;
  height: auto;
}

.js-vote {
  background:#DEDEDE;
  display: inline;
  width: 39%;
  margin-left: 50px;
  resize:both;
}


.js-vote > img {
  width: 10%;
}


/*notification header*/
div.ui-dialog-titlebar.ui-corner-all.ui-widget-header {
    background: #8989b7;
    border: 1px solid #b9cd6d;
    color: #FFFFFF;
    font-weight: bold;
 }

/*ui-dialog ui-corner-all ui-widget ui-widget-content ui-front ui-dialog-buttons ui-draggable ui-resizable*/

/*two below are to control the rest of the notification box*/
div.ui-dialog {
  background: #e6e6e6;
}

div.ui-dialog-buttonpane.ui-widget-content {
  background: #e6e6e6;
}

.descirbe {
  text-decoration: underline;
}

@media screen and (max-width: 1200px) {
.js-vote {
  background:#DEDEDE;
  display: inline;
  width: 35%;
  margin-left: 25px;
  resize:both;
}


.js-vote > img {
  width: 15%;
}
  .submitButton {
    font-size: 14px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%
  } 
}

@media screen and (max-width: 800px) {
  .formContainer{
    width:60%;
    background:#e6e6e6;
    border-radius:5px;
    box-shadow:0 0 40px -10px #000;
    margin:calc(50vh - 220px) auto;
    margin-top: -10px;
    margin-bottom: 20px;
    padding:20px 30px;max-width:calc(100vw - 40px);
  }
  .js-vote {
    background:#DEDEDE;
    display: inline;
    width: 39%;
    margin-left: 25px;
    resize:both;
  }


  .js-vote > img {
    width: 25%;
  }
  .submitButton {
    font-size: 12px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%
  }
}

#dialog-about {
  font-family: 'Acme', sans-serif;
  text-align: center;
}

#js-intro:focus {
  height: auto;
  animation-name: highlight;
  animation-duration: 6s;
  animation-iteration-count: 3;
  animation-direction: normal;
}

@keyframes highlight {
    0%   {color: dodgerblue; text-align: center; font-style: underline;}
    25%  {color:#1ef3ff; text-align: center;font-style: underline;opacity: .8;}
    50%  {color:dodgerblue; text-align: center;font-style: underline;}
    75% {color:#1ef3ff; text-align: center;font-style: underline;opacity: .8;}
    100% {color:dodgerblue; text-align: center;font-style: underline;}
}

@media screen and (max-width: 600px) {
.formContainer{
    width:90%;
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    margin:calc(50vh - 220px) auto;
    margin-top: -10px;
    margin-bottom: 20px;
    padding:20px 30px;max-width:calc(100vw - 40px);
  }
.js-vote {
  background:#DEDEDE;
  display: inline;
  width: 39%;
  margin-left: 15px;
  resize:both;
}


.js-vote > img {
  width: 25%;
}
}
